<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史数据</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css') }}">
    <script src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/echarts.min.js') }}"></script>
</head>
<body>
    <!-- header区域 -->
    <div class="header w">
        <div class="logo">
            logo
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/history/month_flow">历史数据分析</a></li>
                <li><a href="#">数据预测</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
        <div class="log">
            <a href="#">xxx欢迎您</a>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="history w">
        <div class="type">
            <ul>
                <li><a href="/history/month_flow">单月整体的客流波动分析</a></li>
                <li><a href="/history/week_flow">工作日和周末的客流分析</a></li>
                <li><a href="/history/station_flow">单站的点出</a></li>
                <li><a href="/history/age">用户年龄结构分析</a></li>
                <li class="addbgcorange"><a href="/history/dayhigh">早晚高峰客流站点分布分析</a></li>
                <li><a href="">站点OD客流量分析</a></li>
                <li><a href="">线路断面（按站点）流量分析</a></li>
                <li><a href="">拓展信息分析</a></li>
            </ul>
        </div>

         <!-- 放图表的地方 -->
         <div class="data">
            <div id = "graph" class="dayhighgraph" ></div>
            <script type="text/javascript">
                //获取json数据
                function get_data(url){
                    var js_data;
                    $.ajax({
                            url: url,
                            type: "GET",
                            dataType: "json", 
                            async: false,  //请求方式 设置为异步
                            success: function(data) {
                                js_data = data
                            }
                        })
                    return js_data
                }
                var stations = get_data('http://127.0.0.1:5000/sta.json');
                var links = get_data('http://127.0.0.1:5000/link.json');
                
                //初始化图表
                var myChart = echarts.init(document.getElementById('graph'));
        
                //获取线路名称列表
                var lineNames = []
                for (let index = 0; index < stations.length - 1; index++) {
                    if (lineNames.indexOf(stations[index].category) == -1) {
                        lineNames.push(stations[index].category)
                    }
                }
        
                //图例的数据数组 数组中的每一项代表一个系列的name
                var legend = [{data: lineNames }]
        
                //获取类目名称数组 用于和 legend 对应以及格式化 tooltip 的内容
                var categories = lineNames.map(lineName => {return {name: lineName}})
        
                //随机数函数 后期修改为真实数据
                var rdm = function(min, max){
                    return Math.floor(Math.random() * (max - min)) + min;
                }
        
                // 组装模拟数据
                var stations_lq = [];
                var stations_len = stations.length;
                
                let lq_tmp = {};
                lq_tmp.lq = [];
                stations.forEach(function(v){
                    vt = JSON.parse(JSON.stringify(v));
                    vt.value = rdm(60,200);
                    vt.itemStyle.color = v.itemStyle.borderColor;
                    vt.itemStyle.borderWidth = 0;
                    vt.itemStyle.opacity = 0.75;
                    lq_tmp.lq.push(vt);
                });
                stations_lq.push(lq_tmp); 
                
                function timelist() {
                    var timelist = []
                    for(let i = 1; i <= 24; i++){
                        timelist.push(`${i}:00`)
                    }
                    return timelist
                }
        
                myChart.on('click', function (params) {
                    console.log(params);
                });
        
                option = {
                    timeline: {
                        axisType: 'category',
                        show: true,
                        autoPlay: true,
                        playInterval: 1000,
                        data: timelist()
                    },
                    title: {
                        text: '早晚高峰客流示意图'
                    },
                    backgroundColor:'#fff',
                    color: ['#EE1822', '#85C73F', '#FDD303', '#4E2C8D', '#8F57A2', '#D7156B', '#F26F1F', '#009DD7', '#67CCF6', '#B8A8CF', '#7C1F31', '#54ae11', '#E77DAD', '#78d6cd', '#bc796f'],
                    grid:[
                        {left:0, top:0, width:'100%', height: '100%'} // 放主图
                    ],
                    xAxis:[
                        {gridIndex: 0, show:false},
                    ],
                    yAxis:[
                        {gridIndex: 0, show:false},
                    ],
                    tooltip: {},
                    legend: legend,
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    series: [
                        // 用关系图实现地铁地图
                        {
                            type: 'graph',
                            layout: 'none',
                            xAxis:1,
                            yAxis:1,
                            symbolSize: 3,
                            roam: true,
                            label: {
                                    show: false,
                                    rotate: '30', 
                                    color: 'black',
                                    position: 'right'
                            },
                            focusNodeAdjacency: true,
                            edgeSymbol: ['none', 'none'],
                            edgeSymbolSize: [4, 6],
                            edgeLabel: {
                                normal: {
                                    textStyle: {
                                        fontSize: 20
                                    }
                                }
                            },
                            data: stations,
                            links: links,
                            categories: categories,
                            lineStyle: {
                                normal: {
                                    opacity: 0.9,
                                    width: 5,
                                    curveness: 0
                                }
                            }
                        },
                        // 在同样的关系图坐标上，展示数据大小。
                        {
                            type: 'graph',
                            xAxis:1,
                            yAxis:1,
                            roam:true,
                            symbolSize: function (params) {
                                return params/10;
                            },
                            symbol:'circle',
                            data: stations_lq[0]['lq']
                        },
                    
                    ]
                }
                myChart.setOption(option);
            </script>
        </div>
    </div>

    <!-- footer区域 -->
    <div class="footer">
        <div class="content w">
            关于我们 简介
        </div>
    </div>

</body>
</html>