<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轨道交通智慧系统</title>
    <link rel="Shortcut Icon" href="../static/images/title.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/date.css') }}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">

    <link id="mainStyle" rel="stylesheet" href="{{ url_for('static',filename ='css/style.css') }}" />

    <script type="text/javascript" src="{{ url_for('static',filename ='js/date.js') }}" ></script>
	<script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/lodash.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/echarts.min.js') }}"></script>
    <script src="at.alicdn.com/t/font_2411818_8d2qir8xzn.js"></script>
    <style>
        .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }

        .layui-laydate, .layui-laydate-hint {
    box-shadow: none !important;
    border: none !important;
}
.layui-input-block {
    position:absolute;
    z-index: 9999999;
    margin-left: 0;
}
.m-radio {
    position: absolute;
    left: 80%;
    top: 10%;
}
.twograph {
    position: relative;
    overflow: hidden;
    padding-top: 0;
}
#line_graph {
    width: 100%;
    height: 100%;
}
.layui-form-item {
    margin-bottom: 0px;
}
.cutline {
    position: relative;
}
.cmb {
    position: absolute;
    width: 87px;
    left: 90%;
    top: 10%;
}
#split_bar {
    width: 100%;
    height: 100%;
}

    </style>
</head>
<body>
    <div class="w">
        <!-- 左侧导航栏 -->
        <div class="nav">
            <p><span>&nbsp;&nbsp;轨道交通智慧系统</span></p>
            <ul>
                <li class='addbgc'><a href="/history" data-ctt='>'><span>&nbsp;&nbsp;历史轨道数据储库</span></a></li>
                <li><a href="/predict" data-ctt='>'><span>&nbsp;&nbsp;智慧轨道预测系统</span></a></li>
                <li><a href="/client" data-ctt='>'><span>&nbsp;&nbsp;乘客特征分析系统</span></a></li>
                <li><a href="/station/Sta101" data-ctt='>'><span>&nbsp;&nbsp;运营规划辅助系统</span></a></li>
                <li><a href="/selfcenter" data-ctt='>'><span>&nbsp;&nbsp;个人中心</span></a></li>
            </ul>
        </div>
        <!-- 右侧内容区域 -->
        <div class="content">
            <!-- 用户信息 -->
            <div class="user">
                <div class="mytoggle">&#xe8b2;</div>
                <div class="loc">轨道交通智慧系统>历史轨道数据储库</div>
                <div class="usr">
                    <span class="head"><img src="{{ url_for('static', filename = 'images/head.jpg') }}" alt=""></span>
                    <span class="name">超级管理员</span>
                </div>
            </div>

            <div class="addflex mt55">
                <!-- 时间控件 -->
                <div class="time" id='timectrl'>
                
                </div>
                <div class="maininfo">
                    <div class="wea">
                        <div class="left">
                            <div class="weaimg" id="today_weather">&#xe60c;</div>
                            <div class="weawords" id="today_wea_txt">多云</div>
                        </div>
                        <div class="right">
                            <div class="wind" id = "today_wind">无持续风向1~2级</div>
                            <div class="temp" id="today_temp">33℃/24℃</div>
                            <div class="rest" id="rest">休息日</div>
                        </div>
                    </div>
                    <div class="info13">
                        <div class="part1">
                            <p>今日客流总量</p>
                            <div class="tolcnt" id='day_flow'>
                                5523
                            </div>
                        </div>
                        <div class="part3">
                            <p>高峰客流</p>
                            <div class="morning">
                                早高峰<i>&#xe69b;</i>
                                <span id='am_peak'>896</span>
                            </div>
                            <div class="evening">
                                晚高峰<i>&#xe69c;</i>
                                </svg>
                                <span id='pm_peak'>1103</span>
                            </div>
                        </div>
                    </div>
                    <div class="info24">
                        <div class="part2">
                            <div class="addyes">
                                较昨日&nbsp;&nbsp;&nbsp;
                                <i id='yesstate'>&#xe608;</i>
                                <span id='yesper'>18%</span>
                            </div>
                            <div class="addmonth">
                                较月平均
                                <i id='monthstate'>&#xe607;</i>
                                <span id='monthper'>28%</span>
                            </div>
                            <div class="addyear">
                                较年平均
                                <i id='yearstate'>&#xe607;</i>
                                <span id='yearper'>31%</span>
                            </div>
                        </div>
                        <div class="part4">
                            <div class="tolclient">今日出行人数</div>
                            <div class="cnt" id='tolpersoncnt'>453</div>
                        </div>
                    </div>
                </div>


                
            </div>

            <div class="addflex">
                <!-- 当月客流变化 -->
                <div id = "month_line" class="thismonth">
                    <!-- 当月客流变化折线图 -->
                </div>
                <!-- 这一周 -->
                <div id = "curr_week_line" class="thisweek">
                    <!-- 本周客流变化折线图 -->
                </div>
            </div>
            
            <div class="addflex">
                <!-- 线路流量占比 -->
                <div id = "line_percent" class="linepercent">
                    <!-- 线路流量占比扇形图/风玫瑰图 -->
                </div>
                <!-- 站点od客流量 -->
                <div id = "od_graph" class="od">

                </div>
                </div>
                
                <div class="addflex">
                    <!-- 早晚高峰热力图和线路断面 -->
                    <div class="twograph layui-form">
                        <div class="layui-form-item">
                            <!-- <label class="layui-form-label">客流方向</label> -->
                            <div class="layui-input-block m-radio">
                            <input type="radio" name="sex" value="0" title="入站">
                            <input type="radio" name="sex" value="1" title="出站" checked>
                        </div>
                    </div>
                    <div id = "line_graph">
                        <!-- 早晚高峰热力图 -->
                    </div>
                </div>
                <!-- 站点排行榜 -->
                <div class="leaderboard">
                    <p>站点客流排行榜</p>
                    <table id = "sta_flow_list">
                        <tr>
                            <th>排名</th>
                            <th>站点名</th>
                            <th>所在线路</th>
                            <th>客流</th>  
                        </tr>
                        {% for i in range(1,26) %}
                        <tr>
                            <td id = "{{i}}">{{i}}</td>
                            <td id = "Sta{{i}}">{{'Sta%d' % i}}</td>
                            <td id = "line{{i}}">{{'%d号线' % i}}</td>
                            <td id = "flow{{i}}">{{i * 1000}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            
            <div class="addflex">
                <div class="leftchoose">
                    <div class="choice">
                        <ul id='area'>
                            <li data-index = 1>工业区</li>
                            <li data-index = 2>商业区</li>
                            <li data-index = 3>住宅区</li>
                            <li data-index = 4>仓储区</li>
                            <li data-index = 5>文教区</li>
                            <li data-index = 6>中心商业区</li>
                            <li data-index = 7>综合区</li>
                            <li data-index = 8>风景区</li>
                            <li data-index = 9>卫星城</li>
                        </ul>
                    </div>
                </div>
                <!-- 进出客流统计 -->
                <div class="inout" id="area_inout">
                    进出客流统计
                </div>
            </div>

            <div class="addflex">
                <!-- 线路断面 -->
                <div class="cutline layui-form">
                    <div class="layui-form-item cmb">
                        <!-- <label class="layui-form-label">选择线路</label> -->
                        <div class="layui-input-block">
                        <select name="interest" lay-filter="aihao">
                            <option value="1">1号线</option>
                            <option value="2">2号线</option>
                            <option value="3">3号线</option>
                            <option value="4">4号线</option>
                            <option value="5">5号线</option>
                            <option value="10">10号线</option>
                            <option value="11">11号线</option>
                            <option value="12">12号线</option>
                        </select>
                        </div>
                    </div>
                    <div id = "split_bar">

                    </div>
                </div>
            </div>
            
           
            
        </div>
    </div>

    <script src="{{ url_for('static',filename ='layui/layui.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/update_history.js') }}"></script>
    
</body>
</html>