<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="bg">
        <div class="log">
            <div class="title">轨道交通数据分析系统</div>
            <table class="info">
                <tr>
                    <td>用户名</td>
                    <td><input type="text" id="user"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" id="pwd"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id='confirm'>登录</button></td>
                </tr>
            </table>


        </div>
        
    </div>
</body>
</html>