<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轨道交通智慧系统</title>
    <link rel="Shortcut Icon" href="../static/images/title.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css') }}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/css/predict.css">
	<script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/echarts.min.js') }}"></script>
</head>
<body>
    <div class="w">
        <!-- 左侧导航栏 -->
        <div class="nav">
            <p><span>&nbsp;&nbsp;轨道交通智慧系统</span></p>
            <ul>
                <li><a href="/history" data-ctt='>'><span>&nbsp;&nbsp;历史轨道数据储库</span></a></li>
                <li class='addbgc'><a href="/predict" data-ctt='>'><span>&nbsp;&nbsp;智慧轨道预测系统</span></a></li>
                <li><a href="/client" data-ctt='>'><span>&nbsp;&nbsp;乘客特征分析系统</span></a></li>
                <li><a href="/station/Sta101" data-ctt='>'><span>&nbsp;&nbsp;运营规划辅助系统</span></a></li>
                <li><a href="/selfcenter" data-ctt='>'><span>&nbsp;&nbsp;个人中心</span></a></li>
            </ul>
        </div>
        <!-- 右侧内容区域 -->
        <div class="content">
            <!-- 用户信息 -->
            <div class="user">
                <div class="mytoggle">&#xe8b2;</div>
                <div class="loc">轨道交通智慧系统>智慧轨道预测系统</div>
                <div class="usr">
                    <span class="head"><img src="{{ url_for('static', filename = 'images/head.jpg') }}" alt=""></span>
                    <span class="name">超级管理员</span>
                </div>
            </div>

            <div class="addflex mt55">
                <!-- 时间控件 -->
                <div class="time" id='timectrlpre'>
                
                </div>
                
                <!-- 天气控件等 -->
                <div class="weather">
                    <div class="addflex">
                        <div class="todayweatherpre">
                            <div class="w-img" id="today_weather">
                                &#xe625;
                            </div>
                            <div class="description">
                                <p id="today">2020-01-01</p>
                                <p id="today_wea_txt">多云</p>
                                <strong class="temp" id="today_temp">18℃</strong>
                                <p id = "today_wind">风向：无持续风向1-2级</p>
                                <p>节假日：否</p>
                            </div>
                        </div>
                        <div class="ctrl">
                            <h3>选择预测因子</h3>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">预测算法</label>
                                    <div class="layui-input-block">
                                    <select name="interest" lay-filter="model">
                                        <!-- <option value="0">请选择</option> -->
                                        <option value="0" selected>请选择</option>
                                        <option value="1">XGBoost</option>
                                        <option value="2">SARIMA</option>
                                        <option value="3">指数平滑</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">天气状况</label>
                                    <div class="layui-input-block">
                                    <select name="interest" lay-filter="wea">
                                        <option value="0">请选择</option>
                                        <option value="1">多云</option>
                                        <option value="2">晴</option>
                                        <option value="3">阴</option>
                                        <option value="4">阵雨</option>
                                        <option value="5">小雨</option>
                                        <option value="6">中雨</option>
                                        <option value="7">大雨</option>
                                        <option value="8">暴雨</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            
                            <p id="T"></p>
                            <em>温度</em>
                            <button class="layui-btn layui-btn-warm confirm" id="apply">应用</button>
                            
                        </div>
                        <div class="tips">
                            <div class="advice" id = 'triggerBtn'>
                                <p>推荐算法<span class='showmore'>&#xe634;</span></p>
                                <p id='introalg'>XGBoost</p>
                                <!-- &nbsp; 推荐算法<span class='showmore'>&#xe634;</span>： </br>
                             Xgboost &nbsp;           -->
                            </div>
                        </div>
                    </div>
                    <div class="addflex">
                        <div class="nextdayspre">
                            <ul>
                                <li>
                                    <p>今天</p>
                                    <div class="image" id = "d0_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d0_temp">
                                        18℃
                                    </div>
                                </li>
                                <li>
                                    <p>明天</p>
                                    <div class="image" id = "d1_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d1_temp">
                                        18℃
                                    </div>
                                </li>
                                <li>
                                    <p>后天</p>
                                    <div class="image" id = "d2_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d2_temp">
                                        18℃
                                    </div>
                                </li>
                                <li>
                                    <p id="d3_date">4日</p>
                                    <div class="image" id = "d3_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d3_temp">
                                        18℃
                                    </div>
                                </li>
                                <li>
                                    <p id="d4_date">5日</p>
                                    <div class="image" id = "d4_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d4_temp">
                                        18℃
                                    </div>
                                </li>
                                <li>
                                    <p id="d5_date">6日</p>
                                    <div class="image" id = "d5_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d5_temp">
                                        18℃
                                    </div>
                                </li>
                                <li>
                                    <p id="d6_date">7日</p>
                                    <div class="image" id = "d6_icon">
                                        &#xe646;
                                    </div>
                                    <div class="tempe" id = "d6_temp">
                                        18℃
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
            </div>
            
            <div class="addflex">
                <div class="preinfo">
                    <div class="info1">
                        <p>今日客流总量预测</p>
                        <div class="tolcnt" id='day_flow'>
                            5523
                        </div>
                    </div>
                    <div class="info2">
                        <div class="addyes">
                            较昨日&nbsp;&nbsp;&nbsp;
                            <i id='yesstate'>&#xe608;</i>
                            <span id='yesper'>18%</span>
                        </div>
                        <div class="addmonth">
                            较月平均
                            <i id='monthstate'>&#xe607;</i>
                            <span id='monthper'>28%</span>
                        </div>
                        <div class="addyear">
                            较年平均
                            <i id='yearstate'>&#xe607;</i>
                            <span id='yearper'>31%</span>
                        </div>
                    </div>
                    <div class="info3">
                        <p>高峰客流预测</p>
                        <div class="morning">
                            早高峰<i>&#xe69b;</i>
                            <span id='am_peak'>896</span>
                        </div>
                        <div class="evening">
                            晚高峰<i>&#xe69c;</i>
                            <span id='pm_peak'>1103</span>
                        </div>
                    </div>
                    <div class="info4">
                        <p>高峰时段占比</p>
                        <div class="words" id='peakper'>11.1</div>
                        <div class="layui-progress per" lay-showpercent="true" lay-filter="peakrate">
                            <div class="layui-progress-bar layui-bg-red" lay-percent="11.1%"></div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="addflex">
                <!-- 本月客流 -->
                <div class="thismonthpre" id = "month_line">
                    本月客流
                </div>
                <!-- 本周客流 -->
                <div class="thisweekpre" id = "week_line">
                    本周客流
                </div>
            </div>
            
            
            

            <div class="addflex">
                <!-- 线路流量占比 -->
                <div class="line-percentpre" id = "line_pie">
                    线路流量占比
                </div>

                <!-- 今日具体时刻客流 -->
                <div class="exacthourpre" id = "hour_line">
                    今日具体时刻客流
                </div>
            </div>
            
            <div class="addflex">
                <!-- 客流评分及预警措施 -->
                <div class="markpre">
                    <h4>客流评分及预警措施</h4>
                    <div class="graph" id="markpre">
                        
                    </div>
                    <div class="words">
                        评分
                    </div>
                    <div class="description">
                        <ul id="measure">
                            <li>采取出入口人员提醒、广播疏导客流、警示牌及警戒线导流等现场疏散措施。</li>
                            <li>视情况对客流进行限量进入。</li>
                            <li>开启部分备用通道，疏散客流。</li>
                            <li>加派安全员现场疏导客流和维护秩序。</li>
                            <!-- <li>加强对站台乘客候车动态及站台屏蔽门工作状态的监控。</li> -->
                        </ul>
                    </div>
                    <div class="graph2" id = "eval_radar">
                        
                    </div>
                </div>

            </div>
            
            <div class="addflex">
                <!-- 进站出站 -->
                <div class="graphpre layui-form change">
                    <div class="selfinout">
                        <li class='left' id='tabin' index = 0>入站</li>
                        <li class='right' id = tabout index = 1>出站</li>
                    </div>

                    <div class="mytab">
                        <li class='left' id='tabsta' index = 0>站点</li>
                        <li class='right' id = tabcut index = 1>断面</li>
                    </div>
                    <div id= "graph"></div>
                </div>
            </div>
            
        </div>
    </div>


    <!-- 模态框 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2></h2>
                <span id="closeBtn" class="close">&times;</span>
            </div>
            <div class="modal-body">
                <h4>算法特性</h4>
                <h5>XGBoost</h5>
                <p>优点：模型准确率较高，可参考性强</p>
                <p>缺点：误差会累积，适用于较短的预测</p>
                <h5>SARIMA</h5>
                <p>优点：短期预测中精度高</p>
                <p>缺点：模型调整复杂，长期预测价值低测</p>
                <h5>指数平滑</h5>
                <p>优点：快速可靠，适应性好</p>
                <p>缺点：长期预测的效果较差</p>

                <div class="sug">
                    <h4>算法推荐</h4>
                    <p>小于7天 ：三者根据测试集准确率取最优</p>
                    <p>7-30天：SARIMA和三指数平滑取最优</p>
                    <p>大于30天：使用XGBoost单步迭代，给客流变化趋势 </p>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename ='layui/layui.js') }}"></script>
    <script src="../static/js/predict.js"></script>
</body>
</html>