<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/selfcenter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/bootstrap.min.js') }}"></script>
    <script src="../static/js/template-web.js"></script>
    <script src="../static/layui/layui.js"></script>
</head>
<style>
    a:hover {
    text-decoration:none;
    color: black;
}
    body {
        font-size: 16px;
    }

</style>
<body>
    <div class="w">
        <!-- 左侧导航栏 -->
        <div class="nav">
            <p>&nbsp;&nbsp;轨道交通智慧系统</p>
            <ul>
              <li><a href="/history">&nbsp;&nbsp;历史轨道数据储库</a></li>
              <li><a href="/predict">&nbsp;&nbsp;智慧轨道预测系统</a></li>
              <li><a href="/client">&nbsp;&nbsp;乘客特征分析系统</a></li>
              <li><a href="/station">&nbsp;&nbsp;运营规划辅助系统</a></li>
              <li  class='addbgc'><a href="/selfcenter">&nbsp;&nbsp;个人中心</a></li>
          </ul>
        </div>
        <!-- 右侧内容区域 -->
        <div class="content">
            <!-- 用户信息 -->
            <div class="user">
                <div class="loc">轨道交通智慧系统>个人中心</div>
                <span class="head"><img src="{{ url_for('static', filename = 'images/head.jpg') }}" alt=""></span>
                <span class="name">超级管理员</span>
            </div>
            
            <div class="add">
                <button class="addnew" data-toggle="modal" data-target="#myModal">+ 新增</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="exampleModalLabel">个人信息</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="control-label">用户名:</label>
                              <input type="text" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">密码:</label>
                                <input type="text" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="control-label">权限:</label>
                              <textarea class="form-control" id="tips"></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                          <button type="button" class="btn btn-primary" id="saveitem">确认</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <table id="adminlist">
                    
                </table>
            </div>
            

        </div>
    </div>

    <div class="modal fade" id="testmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">个人信息</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">用户名:</label>
                  <input type="text" class="form-control" id="m-username">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">密码:</label>
                    <input type="text" class="form-control" id="m-pwd">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">权限:</label>
                  <textarea class="form-control" id="m-tips"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
              <button type="button" class="btn btn-primary" id = "confirm_edit">确认修改</button>
            </div>
          </div>
        </div>
    </div>

    <script type="text/html" id='admindata'>
        {%raw%}
        <tr> 
            <td>用户名</td> 
            <td>密码</td> 
            <td>权限</td> 
            <td>操作</td> 
        </tr>
        {{each list as value}}
            <tr>
                <td>{{value.name}}</td>
                <td>{{value.pwd}}</td>
                <td>{{value.tips}}</td>
                <td>
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn layui-btn-sm">
                          <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-sm">
                          <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
        {%endraw%}
    </script>
    <!-- <script type="text/javascript" src="{{ url_for('static',filename ='js/selfcenter.js') }}"></script> -->
    <script src="../static/js/selfcenter.js"></script>
</body>
</html>