<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css') }}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sta.css">
	<script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/echarts.min.js') }}"></script>
</head>
<style>
    .layui-laydate, .layui-laydate-hint {
        box-shadow: none !important;
        border: none !important;
    }
</style>
<body>
    <div class="w">
        <!-- 左侧导航栏 -->
        <div class="nav">
            <p>&nbsp;&nbsp;轨道交通智慧系统</p>
            <ul>
                <li><a href="/history">&nbsp;&nbsp;历史轨道数据储库</a></li>
                <li><a href="/predict">&nbsp;&nbsp;智慧轨道预测系统</a></li>
                <li><a href="/client">&nbsp;&nbsp;乘客特征分析系统</a></li>
                <li><a href="/station">&nbsp;&nbsp;运营规划辅助系统</a></li>
                <li><a href="/selfcenter">&nbsp;&nbsp;个人中心</a></li>
            </ul>
        </div>
        <!-- 右侧内容区域 -->
        <div class="content">
            <!-- 用户信息 -->
            <div class="user">
                <div class="loc">轨道交通智慧系统>运营规划辅助系统</div>
                <span class="head"><img src="{{ url_for('static', filename = 'images/head.jpg') }}" alt=""></span>
                <span class="name">超级管理员</span>
            </div>

            <!-- 搜索框 -->
            <div class="searchsta">
                <input type="text" class="sousuo" placeholder="请输入您要搜索的站点...">
                <button></button>
            </div>

            <div class="stainfo">
                <div class="staname">
                    Sta101
                </div>
                <div class="locinfo">
                    <div class="graph">
                        站点位置
                        <div class="instance">
                            <img src="../static/images/loc.png" alt="">
                        </div>
                    </div>
                    <p>所属区域：4115</p>
                    <p>所属线路：3号线</p>
                    <p>所属功能区域：居住区</p>
                </div>
                <div class="datainfo">
                    <p>客流量对比</p>
                    <ul>
                        <li>较昨日：<span class='font-red'>+23.6%</span></li> 
                        <li>较月平均：<span class='font-red'>+12.1%</span></li> 
                        <li>较年平均：<span class='font-red'>+10.3%</span></li>
                        <li>早高峰客流：<span> <em class='font-red'>231</em> 人次</span></li>
                        <li>晚高峰客流：<span> <em class='font-red'>315</em> 人次</span></li>
                    </ul>
                </div>
                <div class="cloud">
                    <p>人群词云图</p>
                    <div class="yun">

                    </div>
                </div>
            </div>
            <!-- 时间控件 -->
            <div class="time" id='timectrlsta'>
            
            </div>

            <div class="stamonth">
                本月
            </div>
            
            <div class="stahour">
                当日小时客流
            </div>
            
            <div class="ranknear">
                <p>客流来源排行</p>
                <table>
                    <tr>
                        <th>排名</th>
                        <th>站点名</th>
                        <th>所在线路</th>
                        <th>客流量</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sta93</td>
                        <td>3号线</td>
                        <td>121</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sta16</td>
                        <td>3号线</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sta14</td>
                        <td>2号线</td>
                        <td>98</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Sta42</td>
                        <td>3号线</td>
                        <td>71</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Sta53</td>
                        <td>6号线</td>
                        <td>67</td>
                    </tr>
                </table>
                <p>客流去处排行</p>
                <table>
                    <tr>
                        <th>排名</th>
                        <th>站点名</th>
                        <th>所在线路</th>
                        <th>客流量</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sta73</td>
                        <td>3号线</td>
                        <td>156</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sta53</td>
                        <td>6号线</td>
                        <td>120</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sta44</td>
                        <td>2号线</td>
                        <td>101</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Sta47</td>
                        <td>3号线</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Sta49</td>
                        <td>3号线</td>
                        <td>98</td>
                    </tr>
                </table>
            </div>

            <div class="marksta">
                <h4>客流评分及预警措施</h4>
                <div class="graph" id="marksta">
                    
                </div>
                <div class="words">
                    评分
                </div>
                <div class="description">
                    描述
                </div>
                <div class="graph2">
                    图表
                </div>
            </div>
            <div class="itemadvice">
                各种设施建设数量
            </div>

            <div class="agestructure">
                年龄结构
            </div>

            <div class="seats">
                座位摆放
            </div>



 
        </div>
    </div>
    <script src="{{ url_for('static',filename ='layui/layui.js') }}"></script>
    <script src="../static/js/sta.js"></script>
</body>
</html>