<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轨道交通智慧系统</title>
    <link rel="Shortcut Icon" href="../static/images/title.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename ='layui/css/layui.css') }}" media="all">
    <link href="{{ url_for('static',filename ='css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename ='css/sta.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/echarts-wordcloud.min.js') }}"></script>
</head>
<style>
    .layui-laydate, .layui-laydate-hint {
        box-shadow: none !important;
        border: none !important;
    }
</style>
<body>
    <div class="w">
        <!-- 左侧导航栏 -->
        <div class="nav">
            <p><span>&nbsp;&nbsp;轨道交通智慧系统</span></p>
            <ul>
                <li><a href="/history" data-ctt='>'><span>&nbsp;&nbsp;历史轨道数据储库</span></a></li>
                <li><a href="/predict" data-ctt='>'><span>&nbsp;&nbsp;智慧轨道预测系统</span></a></li>
                <li><a href="/client" data-ctt='>'><span>&nbsp;&nbsp;乘客特征分析系统</span></a></li>
                <li class='addbgc'><a href="/station/Sta101" data-ctt='>'><span>&nbsp;&nbsp;运营规划辅助系统</span></a></li>
                <li><a href="/selfcenter" data-ctt='>'><span>&nbsp;&nbsp;个人中心</span></a></li>
            </ul>
        </div>
        <!-- 右侧内容区域 -->
        <div class="content">
            <!-- 用户信息 -->
            <div class="user">
                <div class="mytoggle">&#xe8b2;</div>
                <div class="loc">轨道交通智慧系统>运营规划辅助系统</div>
                <div class="usr">
                    <span class="head"><img src="{{ url_for('static', filename = 'images/head.jpg') }}" alt=""></span>
                    <span class="name">超级管理员</span>
                </div>
            </div>

            <div class="addflex mt55">
                <!-- 搜索框 -->
                <div class="searchsta" >
                    <form method = 'POST' action = '/sta/search'>
                        <input type="text" name = "search" class="sousuo" placeholder="请输入您要搜索的站点...">
                        <button></button>
                    </form>
                </div>
            </div>
            
            
            <div class="addflex">
                <div class="stainfo">
                    <div class="sta_name" id = "sta_name" style="font-size: 30px;">
                        {{sta_name}}
                    </div>
                    <div class="addflex">
                        <div class="locinfo">
                            <div class="graph">
                                站点位置
                                <div class="instance">
                                    <img src="{{ url_for('static', filename = 'images/line' + sta_info.line[:-2] + '.png') }}" alt="">
                                </div>
                            </div>
                            <p id = 'area'>所属区域：{{sta_info.area}}</p>
                            <p id = 'line'>所属线路：{{sta_info.line}}</p>
                            <p id = 'dict'>所属功能区域：居住区</p>
                        </div>
                        <div class="datainfo">
                            <p>客流量对比</p>
                            <ul>
                                <li>较昨日：<span id= 'day_cmp' class='font-blue'>+23.6%</span></li> 
                                <li>较月平均：<span id = 'month_cmp' class='font-blue'>+12.1%</span></li> 
                                <li>较年平均：<span id = 'year_cmp' class='font-blue'>+10.3%</span></li>
                                <li>早高峰客流：<span> <em id = 'am_peak_flow' class='font-blue'>231</em> 人次</span></li>
                                <li>晚高峰客流：<span> <em id = 'pm_peak_flow' class='font-blue'>315</em> 人次</span></li>
                            </ul>
                        </div>
                        <div class="cloud">
                            <p>人群词云图</p>
                            <div class="yun" id = "wordclouds">
        
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- 时间控件 -->
                <div class="time" id='timectrlsta'>
                
                </div>
            </div>
            
            <div class="addflex">
                <div class="stamonth" id = "week_flow">
                    本周
                </div>
                
                <div class="stahour" id = "hour_flow">
                    当日小时客流
                </div>
            </div>

            <div class="addflex">
                <!-- 客流评分及预警措施 -->
                <div class="markpre">
                    <h4>客流评分及预警措施</h4>
                    <div class="addflex">
                        <div class="graph" id="markpre">
                        
                        </div>
                        <div class="words">
                            评分
                        </div>
                        <div class="description">
                            <ul>
                                <li>采取出入口人员提醒、广播疏导客流、警示牌及警戒线导流等现场疏散措施。</li>
                                <li>视情况对客流进行限量进入。</li>
                                <li>开启部分备用通道，疏散客流。</li>
                                <li>加派安全员现场疏导客流和维护秩序。</li>
                                <li>加强对站台乘客候车动态及站台屏蔽门工作状态的监控。</li>
                            </ul>
                        </div>
                        <div class="graph2" id = "schedule">
                            图表
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="addflex top3">
                <div class="bike">
                    <p id='triggerBtn'>共享单车投放策略</p>
                    <div class="smallimg">
                        <img src="../static/images/bikesmall.png" alt="">
                    </div>
                    <div class="layui-progress tiao">
                        <div class="layui-progress-bar  layui-bg-blue" lay-percent="85%" ></div>
                    </div>
                    <div class="bigimg">
                        <img src="../static/images/bikebig_03.png" alt="">
                    </div>
                </div>
                <div class="ad">
                    <p>广告投放策略</p>
                    <div class="smallimg">
                        <img src="../static/images/adsmall2.png" alt="">
                    </div>
                    <div class="layui-progress tiao">
                        <div class="layui-progress-bar layui-bg-red" lay-percent="75%" ></div>
                    </div>
                    <div class="bigimg">
                        <img src="../static/images/adbig_03.png" alt="">
                    </div>
                </div>
                <div class="other">
                    <p>其它辅助规划建议</p>
                    <div class="smallimg">
                        <img src="../static/images/othersmall.png" alt="">
                    </div>
                    <div class="layui-progress tiao">
                        <div class="layui-progress-bar" lay-percent="75%" ></div>
                    </div>
                    <div class="bigimg">
                        <img src="../static/images/otherbig_03.png" alt="">
                    </div>
                </div>
            </div>
            <div class="addflex bot3">
                <div class="more1">

                </div>
                <div class="more2">

                </div>
                <div class="more3">
                    
                </div>
            </div>

            
            <div class="addflex">
                <div class="agestructure" id ="age_structure">
                    年龄结构
                </div>
    
                <div class="seats" id = "aixin">
                    座位摆放
                </div>
            </div>
            



 
        </div>
    </div>


    <!-- 模态框 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>头部</h2>
                <span id="closeBtn" class="close">&times;</span>
            </div>
            <div class="modal-body">
                <p>这是一个模态框！</p>
                <p>喜欢就点个赞吧！</p>
            </div>
            <div class="modal-footer">
                <h3>尾部</h3>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static',filename ='layui/layui.js') }}"></script>
    <script src="{{ url_for('static',filename ='js/sta.js') }}"></script>
</body>
</html>