<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
  <script src="../static/layui/layui.js"></script>
  <title>Document</title>
</head>
<style>
  #subwaygraph {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: pink;
  }
  .layui-form-item {
    margin-bottom: 0px;
}
.cmb {
    position: absolute;
    width: 87px;
    left: 90%;
    top: 10%;
}
.layui-input-block {
    position:absolute;
    z-index: 9999999;
    margin-left: 0;
}
</style>
<body>
  <p>hllo</p>
  <div class="layui-form" id = 'subwaygraph'>
    <div class="layui-form-item cmb">
        <!-- <label class="layui-form-label">选择线路</label> -->
        <div class="layui-input-block">
        <select name="interest" lay-filter="aihao">
            <option value="1">1号线</option>
            <option value="2">2号线</option>
            <option value="3">3号线</option>
            <option value="4">4号线</option>
            <option value="5">5号线</option>
            <option value="10">10号线</option>
            <option value="11">11号线</option>
            <option value="12">12号线</option>
        </select>
        </div>
    </div>
  </div>
  <script>
    layui.use('form', function(){
    var form = layui.form;
    
    //各种基于事件的操作，下面会有进一步介绍
    });
  </script>
</body>
</html>