<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script type="text/javascript" src="{{ url_for('static',filename ='js/template-web.js') }}"></script> -->
    <script src="../static/js/template-web.js"></script>
</head>
<body>
    <div id="content"></div>
    <script id="test" type="text/html">
    {%raw%}
        {{if isAdmin}}

        <h1>{{title}}</h1>
        <ul>
        {{each list value i}}
            <li>索引 {{i + 1}} ：{{value}}</li>
        {{/each}}
        </ul>
        
        {{/if}}
        {{$data}}
    {%endraw%}   
    
    </script>
    
    <script>
    
    
    var data = {
        title: '基本例子',
        isAdmin: true,
        list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
    };
    var html = template('test', data);
    document.getElementById('content').innerHTML = html;
    </script>

    </body>
</html>