<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <title>Document</title>
</head>
<style>
#slideTest1 {
  margin-top: 200px;
  margin-left: 200px;
  width: 200px;
}
</style>
<body>
  <div id='slideTest1'>
    
  </div>
  
    <script src="../static/layui/layui.js"></script>
    <script>
      layui.use('slider', function(){
  var slider = layui.slider;
  
  //渲染
  slider.render({
    elem: '#slideTest1'  //绑定元素
    ,theme: '#3196ff'
    ,max:42
    ,min:-5
    ,value:20
    // ,input:true
    ,setTips: function(value){ //自定义提示文本
      return value + '℃';
      }
    ,change: function(value){
      console.log(value) //动态获取滑块数值
      //do something
    }
  });
});
      </script>
</body>
</html>