/* .add button {
    margin-left: 20px;
    /* height: 24px;
    width: 50px; 
    height: 30px;
    line-height: 30px;
} */
.font-red {
    color: red;
    font-size: 20px;
}
table tr td button {
    height: 24px;
    width: 50px;
}
.add .addnew {
    margin-left: 20px;
    height: 35px;
    line-height: 35px;
    width: 60px;
    background-color: #337ab7;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
}
.add .modal-body table {
    margin-left: 120px;
}
.add .modal-body table tr td {
    height: 40px;
}
.add .modal-body table tr td:first-child {
    width: 80px;
}
.add .modal-body table tr td:nth-child(2) {
    width: 200px;
}
.add .modal-body table tr td input {
    width: 100%;
}
.list {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    height: 570px;
    background-color: #fff;
    /* overflow: scroll; */
    /* border-collapse: collapse; */
    /* border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9; */
}
.list table {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
    /* line-height: 30px; */
}
.list table tr td {
    border-bottom: 1px solid #E9E9E9;
    height: 30px;
}

.list table tr:nth-child(1) td {
    /* background-color: #dad9d9; */
    background-color: #E9E9E9;
}
.list table tr:hover {
    background-color: #F2F2F2;
}
.list table tr:nth-child(1) td {
    border-top: 1px solid #E9E9E9;
}
.list table tr td:nth-child(1) {
    width: 200px;
}
.list table tr td:nth-child(2) {
    width: 200px;
}
.list table tr td:nth-child(3) {
    width: 300px;
}
.list table tr td:nth-child(4) {
    width: 300px;
}
/* ???????????????啥时候写的
element.style {
}
.layui-btn-group .layui-btn+.layui-btn {
    margin-left: 0;
}
.layui-btn-group .layui-btn:last-child {
    border-radius: 0 2px 2px 0;
}
.layui-btn-group .layui-btn {
    margin-left: 0!important;
    margin-right: 0!important;
    border-left: 1px solid rgba(255,255,255,.5);
    border-radius: 0;
}
.layui-btn+.layui-btn {
    margin-left: 10px;
}
.layui-btn-sm {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
} */
.layui-btn {
    background-color: #1E9FFF !important;
}