/* 搜索框 */
input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
    padding-right:46px;
}

button {
    height: 42px;
    width: 42px;
    cursor: pointer;
}
.searchsta {
    float: left;
    width: 910px;
    flex:1;
    height: 60px;
    line-height: 40px;
    text-align: center;
    padding: 0px 20px 0 35%;
    /* background-color: #ffffff; */
}
.searchsta .sousuo {
    float: left;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: 2px solid #7BA7AB;
    /* border-radius: 5px; */
    border-radius: 5px 0 0 5px;
    background: #ffffff;
    color: #9E9C9C;
}
.searchsta button {
    float: left;
    margin-top: 10px;
    margin-left: 0;
    width: 40px;
    height: 40px;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
}
.searchsta button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
/* 站点基本信息 */
.stainfo {
    float: left;
    margin-top: 10px;
    flex:1;
    margin-left: 20px;
    width: 626px;
    height: 280px;
    background-color: #ffffff;
}
.stainfo .staname {
    float: left;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 32px;
    padding-left: 20px;
    border-bottom: 3px solid #f5f5f5;
}
.stainfo .locinfo {
    float: left;
    flex:1;
    width: 200px;
    height: 230px;
    padding-top: 15px;
    border-right: solid 3px #f5f5f5 ;
}
.stainfo .locinfo .img {
    background-color: pink;
    margin-left: 15px;
    margin-right: 15px;
    /* width: 100%; */
    height: 120px;
}
.stainfo .locinfo .img img {
    width: 100%;
    height: 100%;
}
.stainfo .locinfo .graph {
    position: relative;
    height: 120px;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 10px;
}
.stainfo .locinfo .graph .instance {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 85px;
    top: 15px;
    border: solid 1px pink;
}
.stainfo .locinfo .graph .instance img {
    width: 100%;
    height: 100%;
}
.stainfo .locinfo p {
    height: 30px;
    position: relative;
    line-height: 30px;
    font-size: 16px;
    padding-left: 15px;
}
.stainfo .locinfo p span {
    position: absolute;
    right: 15px;
}
.stainfo .datainfo {
    float: left;
    flex:1;
    width: 200px;
    height: 230px;
    border-right: solid 3px #f5f5f5 ;
}
.stainfo .datainfo p {
    height: 60px;
    padding-left: 12px;
    padding-top: 15px;
    font-size: 20px;
}
.stainfo .datainfo ul li {
    height: 35px;
    line-height: 35px;
    position: relative;
    padding-left: 12px;
    font-style: 16px;
    /* font-family: 'electronicFont'!important; */
}
.stainfo .datainfo ul li span {
    position: absolute;
    right: 45px;
}
.stainfo .cloud {
    float: left;
    flex:2;
    width: 426px;
    height: 230px;
}
.stainfo .cloud p{
    height: 40px;
    padding-left: 12px;
    padding-top: 15px;
    /* line-height: 40px; */
    font-size: 20px;
}
.stainfo .cloud .yun {
    height: 205px;
    width: 100%;
    /* background-color: pink; */
}

.time {
    margin-top: 10px;
    margin-right: 30px!important;
    margin-left: 10px!important;
} 

.stamonth {
    float: left;
    flex:1;
    margin: 10px 10px 0 20px;
    width: 330px;
    height: 300px;
    background-color: #ffffff;
}
.stahour {
    float: left;
    flex:2;
    margin-top: 10px;
    margin-right: 30px;
    width: 570px;
    height: 300px;
    background-color: #ffffff;
}
.ranknear {
    float: left;
    margin: 10px 20px 0 20px;
    width: 910px;
    height: 431px;
    background-color: #ffffff;
}
.ranknear p {
    text-align: center;
    font-size: 20px;
    height: 35px;
    line-height: 32px;
}
.ranknear table {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    text-align: center;
   border-collapse: collapse;
}

.ranknear table tr td {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.ranknear table tr:hover {
    background-color: pink;
}
.ranknear table tr th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 2px solid #E9E9E9;
    border-top: 2px solid #E9E9E9;
}
.ranknear table tr th:nth-child(1) {
    padding-left: 10px;
}
.ranknear table tr:hover {
    background-color: #F2F2F2;
}

.ranknear table tr td {
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    border-bottom: 2px solid #E9E9E9;
}
.ranknear table tr td:nth-child(1){
    width: 200px;
    padding-left: 10px;
}
.ranknear table tr td:nth-child(2){
    width: 260px;
}
.ranknear table tr td:nth-child(3){
    width: 260px;
}
.ranknear table tr td:nth-child(4){
    width: 280px;
}


/* 客流评分及预警措施  */
.marksta {
    float: left;
    position: relative;
    width: 910px;
    height: 300px;
    margin: 10px 20px 0 20px;
    background-color: #ffffff;
}
.marksta h4 {
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}
.marksta .graph {
    float: left;
    flex:1;
    width: 280px;
    height: 280px;
}
.marksta  .words {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 280px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    z-index: 99999;
    text-align: center;
}
.marksta .description {
    float: left;
    flex:1;
    width: 310px;
    height: 280px;
}
.marksta .graph2 {
    float: left;
    flex:2;
    width: 300px;
    height: 280px;
}
.itemadvice {
    float: left;
    flex:1;
    margin: 10px 30px 0 20px;
    width: 910px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}
.itemadvice img {
    width: 100%;
}
.agestructure {
    float: left;
    margin: 10px 10px 0 20px;
    width: 330px;
    flex:2;
    height: 300px;
    background-color: #ffffff;
}
.seats {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    width: 570px;
    flex:3;
    height: 300px;
    background-color: #ffffff;
}


 /* 客流评分及预警措施  */
 .markpre {
    float: left;
    flex:1;
    display: flex;
    position: relative;
    width: 910px;
    height: 300px;
    margin: 10px 30px 0 20px;
    padding-top: 20px;
    background-color: #ffffff;
}
.markpre h4 {
    position: absolute;
    top:0;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}
.markpre .graph {
    /* float: left;
    width: 280px; */
    flex:1;
    height: 280px;
    margin-right: 20px;
}
.markpre  .words {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 31%;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    z-index: 99999;
    text-align: center;
}

.markpre .description {
    /* float: left;
    width: 290px; */
    flex:1;
    height: 280px;
    padding-right: 40px;
    padding-top: 15px;
    padding-left: 10px;
}
.markpre .description ul li {
    position: relative;
    height: 50px;
}
.markpre .description ul li:nth-child(2) {
    line-height: 50px;
}
.markpre .description ul li:nth-child(3) {
    line-height: 50px;
}
.markpre .description ul li:nth-child(4) {
    line-height: 50px;
}
.markpre .description ul li:nth-child(5) {
    line-height: 50px;
}

.markpre .description ul li::before {
    position: absolute;
    left: -40px;
    content: '\e600';
    font-size: 30px;
    color: #06c478;
    font-family: 'iconfont';
    line-height: 57px;
}
.markpre .description ul li:nth-child(1)::before {
    line-height: 50px;
}
.markpre .description ul li:nth-child(2)::before {
    
}
.markpre .description ul li:nth-child(3)::before {
    color: #93251c;
    
}
.markpre .description ul li:nth-child(4)::before {
    color: #ff7e02;
}
.markpre .description ul li:nth-child(5)::before {
    line-height: 50px;
}

.markpre .graph2 {
    /* float: left;
    width: 320px; */
    flex:1;
    height: 280px;
}









/* --------------------拓展6个功能------------------------------- */
.top3 {
    /* margin-right: 30px; */
    height: 400px;
}
.bike {
    flex:1;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    background-color: #fff;
}
.bike p {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.bike p:hover {
    cursor: pointer;
    /* color:#1E9FFF; */
    color: #6EBACC;
}
.bike .smallimg {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;

}
.bike .smallimg img {
    width: 100%;
    height: 100%;
}
.bike .tiao {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.bike .bigimg {
    margin-left: 15px;
    /* margin-right: 15px; */
    margin-top: 20px;
    width: 377px;
}
.bike .bigimg img {
    width: 100%;
}

.ad {
    flex:1;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fff;
}
.ad p {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.ad p:hover {
    cursor: pointer;
    /* color: #FF5722; */
    color: #6EBACC;
}
.ad .smallimg {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;

}
.ad .smallimg img {
    width: 100%;
    height: 100%;
}
.ad .tiao {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.ad .bigimg {
    margin-left: 15px;
    /* margin-right: 15px; */
    margin-top: 20px;
    width: 377px;
}
.ad .bigimg img {
    width: 100%;
}


.other {
    flex:1;
    position: relative;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #fff;
}
.other p {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.other p:hover {
    cursor: pointer;
    color: #6EBACC;
}
.other .smallimg {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;

}
.other .smallimg img {
    width: 100%;
    height: 100%;
}
.other .tiao {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.other .bigimg {
    margin-left: 15px;
    /* margin-right: 15px; */
    margin-top: 20px;
    width: 377px;
}
.other .bigimg img {
    width: 100%;
}



.bot3 {
    height: 400px;
}
.more1 {
    flex:1;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #fff;
}
.more2 {
    flex:1;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fff;
}
.more3 {
    flex:1;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #fff;
}










/* 模态框部分css */
/*模态框*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 根据浏览器定位 */
    z-index: 99999; /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%; /* 全宽 */
    height: 100%; /* 全高 */
     /*overflow: auto; 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 背景色 */
    }
/*模态框内容*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto; /*距顶部15% 水平居中*/
    margin-top: 50px;
    padding:20px;
    border: 1px solid #888;
    width: 60%;
    animation: topDown 0.4s; /* 自定义动画，从模态框内容上到下出现 */
}

/* @keyframes topDown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} */
.close {
    position: absolute;
    right: 15px;
    top: 10px;
}

/*模态框头部*/
.modal-header {
   
}
.modal-header h2 {
    text-align: center;
}

/*关闭X 样式*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 第一个模态框 */
.tolbike {
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.tolbike span {
    font-family: electronicFont;
    margin-left: 50px;
    font-size: 40px;
}
.bikegraph {
    flex:1;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: pink;
    height: 400px;
}
.bus {
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.bus span {
    font-family: electronicFont;
    margin-left: 50px;
    margin-right: 10px;
    font-size: 40px;
}
.bus span em {
    margin-left: 10px;
    font-size: 18px;
}