.w {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
}
.nav {
    position: fixed;
    flex:none;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #6ebacc;
    /* background-color: black; */
    color: black;
}
.nav p {
    margin: 20px 0 20px 0;
    padding-left: 15px;
    font-size: 18px;
    line-height: 25px;
}
.nav p::before {
    content: '\e6ae';
    font-family: 'iconfont';
    color: black;
    font-size: 25px;
    vertical-align: bottom;
}
.nav ul li {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.nav ul li:nth-child(1) a::before {
    content: '\e654';
    font-family: 'iconfont';
    
}
.nav ul li:nth-child(2) a::before {
    content: '\e60e';
    font-family: 'iconfont';
}
.nav ul li:nth-child(3) a::before {
    content: '\e65b';
    font-family: 'iconfont';
}
.nav ul li:nth-child(4) a::before {
    content: '\e624';
    font-family: 'iconfont';
}
.nav ul li:nth-child(5) a::before {
    content: '\e606';
    font-family: 'iconfont';
}
.nav ul li a::after {
    position: absolute;
    top: 0;
    right: 20px;
    content: attr(data-ctt);
}
.nav ul li a {
    padding-left: 20px;
    font-size: 16px;
    color: black;
}
.nav ul li:hover {
    color: orange;
    background-color: rgb(201, 183, 150);
}
.content {
    /* float: left; */
    flex: 1;
    /* position: absolute; */
    /* left: 250px; */
    margin-left: 250px;
    /* width: 950px; */
    /* height: 2010px; */
    padding-bottom: 20px;
    height: 100%;
    background-color: #f3f3f3;
}

.user {
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    background-color:  #ffffff;
    line-height: 35px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.user .mytoggle {
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    /* background-color: pink; */
    cursor: pointer;
    font-family: 'iconfont';
    font-weight: 700;
}
.user .loc {
    float: left;
    width: 600px;
    margin-left: 20px;
}
.user .usr {
    float:right;
    margin-right: 50px;
}
.user .head {
    overflow: hidden;
    display: inline-block;
    /* margin-left: 400px; */
    margin-bottom: 2px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    vertical-align:middle;
    border-radius: 15px;
    background-color: pink;
}
.user .head img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}
.user .name {
    font-size: 14px;
}

.content .time {
    float: left;
    width: 274px;
    height: 280px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ffffff;
}
.content .time p {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}
.content .time #date {
    margin-top: 80px;
    margin-left: 85px;
}
.content .time #date #inputdate {
    text-align: center;
    font-size: 16px;
    height: 30px;
    width: 120px;
}

.maininfo {
    flex: 1;
    display: flex;
    height: 280px;
    margin-right: 30px;
    background-color: #fff;
}
.maininfo .wea {
    flex:1;
    border-right: 1px solid #e2e0e0;
}
.maininfo .info13 {
    flex:1;
    border-right: 1px solid #e2e0e0;
}
.maininfo .info13 .part1 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #e2e0e0;
}
.maininfo .info24 {
    flex:1;
}
.maininfo .info24 .part2 {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #e2e0e0;
}

.content .thismonth {
    float: left;
    flex: 1;
    /* width: 626px; */
    height: 300px;
    margin: 10px 10px 0px 20px;
    background-color: #ffffff;
}
.addflex {
    width: 100%;
    display: flex;
}
.thisdayall {
    float: left;
    flex:2;
    width: 200px;
    height: 300px;
    margin-top:10px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ffffff;
}
.thisdayall P:nth-child(1) {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 23px;
}
.thisdayall P:nth-child(2) {
    display: inline-block;
    margin-top: 95px;
    margin-left: 40px;
    font-size: 50px;
    font-family: serif;
    color: #E7BCF3;
}
.thisdayall P:nth-child(2)::after {
    content: '人次';
    font-size: 14px;
    color: #c7b2aa;
}

.thisdayinfo {
    float: left;
    flex:3;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffffff;
}
.thisdayinfo p:nth-child(-n+2) {
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
}
.thisdayinfo p:nth-child(3) {
    font-size: 25px;
    padding-left: 25px;
    margin-bottom: 10px;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid rgb(199, 195, 195) ;
}
.thisdayinfo ul {
    position: relative;
}
.thisdayinfo ul li {
    padding-left: 25px;
    height: 25px;
    line-height: 25px;
}
.thisdayinfo ul li span {
    position: absolute;
    left: 150px;
}
.thisdayinfo ul li span em {
    position: relative;
    top: 3px;
}

.thisweek {
    float: left;
    flex:1;
    width: 390px;
    height: 300px;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #ffffff;
}
.linepercent {
    float: left;
    flex:1;
    width: 450px;
    height: 500px;
    margin-top:10px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ffffff;
}
.od {
    float: left;
    flex:1;
    width: 450px;
    height: 500px;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #ffffff;
}
.twograph {
    float: left;
    flex:4;
    width: 650px;
    height: 700px;
    margin-top:10px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ffffff;
}

.leaderboard {
    float: left;
    flex:1;
    width: 250px;
    height: 700px;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #ffffff;
}
.leaderboard p {
    text-align: center;
    font-size: 20px;
    height: 28px;
    line-height: 28px;
}
.leaderboard table {
    text-align: center;
   border-collapse: collapse;
   border-left: 2px solid #E9E9E9;
   border-right: 2px solid #E9E9E9;
}

.leaderboard table tr th {
    font-weight: normal;
    height: 29px;
    line-height: 29px;
    border-bottom: 2px solid #E9E9E9;
    border-top: 2px solid #E9E9E9;
}
.leaderboard table tr:hover {
    background-color: #F2F2F2;
}

.leaderboard table tr td {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-bottom: 2px solid #E9E9E9;
}
.leaderboard table tr td:nth-child(1) {
    width: 40px;
}
.leaderboard table tr td:nth-child(2) {
    width: 70px;
}
.leaderboard table tr td:nth-child(3) {
    width: 70px;
}
.leaderboard table tr td:nth-child(4) {
    width: 70px;
}

.inout {
    flex: 1;
    height: 600px;
    margin: 10px 30px 0 20px;
    background-color: #fff;
}


/* 线路断面 */
.cutline {
    float: left;
    flex:1;
    width: 910px;
    height: 500px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    background-color: #ffffff;
}


.leaderboard2 {
    float: left;
    flex:1;
    width: 910px;
    /* height: 350px; */
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    background-color: #ffffff;
}
.leaderboard2 p {
    text-align: center;
    font-size: 23px;
    height: 35px;
    line-height: 35px;
}
.leaderboard2 table {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    text-align: center;
   border-collapse: collapse;
}
.leaderboard2 table tr th {
    font-weight: normal;
    background-color: #F2F2F2;
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
}
.leaderboard2 table tr td {
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    border-bottom: 1px solid #E9E9E9;
}
.leaderboard2 table tr:nth-child(odd) td {
    background-color: #F2F2F2;
}
.leaderboard2 table tr td:nth-child(1) {
    width: 150px;
}
.leaderboard2 table tr td:nth-child(2) {
    width: 200px;
}
.leaderboard2 table tr td:nth-child(3) {
    width: 150px;
}
.leaderboard2 table tr td:nth-child(4) {
    width: 200px;
}
.leaderboard2 table tr td:nth-child(5) {
    width: 220px;
}

.leaderboard2 table tr:hover {
    background-color: #F2F2F2;
}


/* -------------------------------------------------------------------------------- */
/* predict */
.left {
    height: 800px;
}


/* -------------------------------------------------------------------------------- */
/* client页面 */


.content .agegraph1 {
    float: left;
    width: 450px;
    flex:1;
    height: 350px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ffffff;
}
.content .agegraph2 {
    float: left;
    flex:1;
    width: 450px;
    height: 350px;
    margin-right: 30px;
    background-color: #ffffff;
}
.content .search {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 910px; 
    height: 75px;
    /* background-color: pink; */
}
.content .search input {
    float: left;
    height: 35px;
    width: 350px;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 16px;
    /* margin-left: 300px; */
    border: 2px solid #A3D0C3;
    background-color: #fff;
    /* background-color: pink; */
}
.content .search #btn_show {
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 400px;
    /* margin-right: 300px; */
    background-color: #A3D0C3;
    border: none;
    border-radius:  5px 0 0 5px ;
    border: 3px solid #A3D0C3;
    border-right: none;
    outline: none;
    font-family:  'iconfont';
    font-size: 16px;
    cursor: pointer;
}
.content .search #btn_search {
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    /* margin-right: 300px; */
    background-color: #A3D0C3;
    border: none;
    border: 3px solid #A3D0C3;
    border-radius: 0 5px 5px 0;
    border-left: none;
    outline: none;
    font-family:  'icomoon';
    cursor: pointer;
}
.userinfo {
    float: left;
    flex:1;
    margin: 0 10px 0 20px;
    width: 250px;
    height:340px;
    overflow: hidden;
}
.userinfo ul li {
    position: relative;
    height: 100px;
    padding-right: 15px;
    background-color: #fff;
    text-align: right;
}
.userinfo ul li>span {
    display: inline-block;
    height: 100px;
    width: 200px;
    padding: 25px 10px;
}
.userinfo ul li span strong {
    font-size: 20px;
    display: block;
}
.userinfo ul li span span {
    font-size: 12px;
    color: #dcdce0;
}
.userinfo ul li:nth-child(1) span strong {
    font-size: 10px;
    transform: scale(0.9,0.9);
}

.userinfo ul li:nth-child(2){
    margin: 20px 0;
}
.userinfo ul li:nth-child(1)::before {
    content: '\e649';
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 22px;
    font-family: 'iconfont';
    color: rgb(0, 162, 255);
    font-size: 50px;
}
.userinfo ul li:nth-child(2)::before {
    content: '\e639';
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 22px;
    font-family: 'iconfont';
    color: rgba(255, 0, 85, 0.233);
    font-size: 50px;
}
/* .userinfo ul li:nth-child(3)::before {
    content: '\e63a';
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 22px;
    font-family: 'iconfont';
    color: rgb(255, 145, 0);
    font-size: 50px;
} */
.user-fa {
    position: relative;
}
.user-fa .user-img {
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 22px;
    font-family: 'iconfont';
    font-style: normal;
    color: rgb(255, 145, 0);
    font-size: 50px;
}



.content .monthout {
    float: left;
    flex:3;
    height: 340px;
    width: 650px;
    margin-right: 30px;
    background-color: #fff;
    
}

.content .outshow1 {
    float: left;
    height: 500px;
    width: 350px;
    margin: 10px 10px 0 20px;
    background-color: #fff;
}
.content .outshow2 {
    float: left;
    margin: 10px 20px 0 20px;
    height: 500px;
    width: 910px;
    background-color: #fff;
}

#outshow1{
    padding: 0 45px;
}

#outshow1 p{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.road {
    float: left;
    flex:1;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 20px;
    height: 600px;
    width: 550px;
    background-color: #fff;
}

.otherdata {
    flex:1;
    background-color: #fff;
    margin-right: 30px;
    margin-top: 10px;
}


/* ----------------------------------------------- */
/* 用户查询界面 */
.search .bt {
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-right: 300px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family:  'icomoon';
}




.userlist {
    float: left;
    /* display: flex; */
    flex:1;
    /* height: 540px; */
    /* background-color: pink; */
    margin: 0 20px;
}
.userlist {
    /* overflow: scroll; */
    background-color: #fff;
}
.userlist table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-left: #E9E9E9 1px solid;
    border-right: #E9E9E9 1px solid;
    
}
.userlist table tr td {
    padding-left: 12px;
    height: 30px;
    border-bottom: #E9E9E9 1px solid;
}
.userlist table tr:nth-child(1) td {
    height: 30px;
    border-bottom: #E9E9E9 1px solid;
    border-top: #E9E9E9 1px solid;
}

.userlist table tr:hover {
    background-color: #F2F2F2;
}
/* .userlist table tr:nth-child(odd) {
    background-color: #F2F2F2;
} */



.userlist table tr td:nth-child(1)
{
    width: 40%;
}
.userlist table tr td:nth-child(2)
{
    width: 20%;
}
.userlist table tr td:nth-child(3)
{
    width: 20%;
}
.userlist table tr td:nth-child(4)
{
    width: 20%;
}

.userlist table tr:nth-last-child() td:nth-last-child(1){
    width: 100%;
}

#pageselector {
    border-left: #E9E9E9 1px solid;
    border-right: #E9E9E9 1px solid;
    border-bottom: #E9E9E9 1px solid;
    padding-left: 10px;
}

.addbgc {
    background-color: rgb(201, 183, 150);
}